html,
body,
video,
canvas {
    margin: 0 !important;
    padding: 0 !important;
}

#id_camera,
#id_mic {

    justify-content: center;
    display: none;
}

#id_camera>div,
#id_mic>div {
    position: relative;
}

#recoding_marker {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: none;
}

#recoding_marker.active {
    display: block;
}

#id_camera.active,
#id_mic.active {
    display: flex;
}
.contain_control{
    text-align: center
}
.contain_control button{
    text-shadow: 0 1px 5px black;
}
.contain_control select{
    font-size: 18px;
    height: 31px;
}
.contain_control > *{
    margin-right: 5px;
}